body{
    height: 100vh;
    display: grid;
    grid-auto-rows: 1fr 3fr 1fr 1fr 1fr;
}
div{ 
    
}
.row1{
    background-color: #d8d8d8;
    display: flex;
    align-items: flex-end;

}
.bluesquare {
    width: 80px;
    height: 80px;
    margin: 15px;
    background-color: #4a90e2;

}
.row2{
    display: flex;    
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}
.rowtext{
    height: 80%;
    width: 90%;
    font-size: 40px;
    
    
}
.row25 {
    background-color: #4a90e2;
}
.row3{
    background-color: #50e3c2;
}
.row4{
    background-color: #b8e986;
}
.row5{
    background-color: #f8e71c;
}
